@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  /* padding: 20px; */
  font-family: "Poppins";
  background: var(--secondary);
}

.offcanvas-body a {
  --bs-link-color: var(--bs-secondary);
  text-decoration: none;
  &:hover {
    --bs-link-hover-color: #fff;
  }
}


/* navbar */


/* page content */


/* help layout */


/* faq */


/* careers list */


/* careers details */


/* breadcrumbs */
